<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>{{title}}</title>
  <meta name="description" content="{{title}}">
  <meta name="author" content="{{author}}">

  <link href="/assets/styles.css" rel="stylesheet">

</head>

<body>
