<a href="/posts/{{id}}" class="block group p-6 bg-white rounded-xl shadow-md mb-6">
    <h2 class="mt-1 mb-2 text-lg leading-tight font-medium text-black group-hover:underline">{{title}}</h2>
    <p class="text-gray-500">{{slug}}</p>
</a>
