<a href="/posts/{{id}}" class="block group p-6 bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-black mb-6">
    <h2 class="mt-1 mb-2 text-lg leading-tight font-medium group-hover:underline">{{title}}</h2>
    <p class="text-gray-500 dark:text-gray-400">{{slug}}</p>
</a>
