{{> themes/default/header.html }}


<div class="p-6">

<h2 class="mt-1 mb-2 text-lg leading-tight font-medium text-black">{{title}}</h2>

<p class="text-gray-800">{{slug}}</p>

<p class="text-gray-800">{{content}}</p>

</div>

{{> themes/default/footer.html }}
