{{> themes/default/header.html }}


<div class="block group p-6 bg-white rounded-xl shadow-md mb-6">

<h2 class="mt-1 mb-2 text-lg leading-tight font-medium text-black">{{title}}</h2>

<p class="text-gray-500 mb-2">{{slug}}</p>

<p class="text-gray-800">{{content}}</p>

</div>

{{> themes/default/footer.html }}
