{{> themes/default/header.html }}


<div class="block group p-6 bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-black mb-6">

<h2 class="mt-1 mb-2 text-lg leading-tight font-medium">{{title}}</h2>

<p class="mb-2">{{slug}}</p>

<p>{{content}}</p>

</div>

{{> themes/default/footer.html }}
