{{> layouts/header.html }}

  <p class="text-base rounded-md bg-red-200 text-zinc-700 p-4 mb-4">
    Exception {{class}}:
    <span class="rounded bg-black/10 px-2 py-1 font-mono break-words">{{message}}</span>
  </p>

{{> layouts/footer.html }}
