{{> layouts/header.html }}

    <p class="text-base rounded-md bg-yellow-200 p-4">Could not find the template <span class="rounded bg-black bg-blend-overlay bg-opacity-10 px-2 py-1 font-mono text-sm">{{template}}</span></p>

{{> layouts/footer.html }}
