{{> layouts/header.html }}

    <p class="text-base rounded-md bg-red-200 p-4">Exception <span class="rounded bg-black bg-blend-overlay bg-opacity-10 px-2 py-1 font-mono text-sm">{{class}}:{{reason}}</span></p>

{{> layouts/footer.html }}
