{{> layouts/header.html }}

<p class="text-base rounded-md bg-orange-200 dark:bg-yellow-700 p-4 mb-4 break-words">
  Could not find the template
  <span class="rounded bg-black bg-blend-overlay bg-opacity-10 px-2 py-1 font-mono">
    {{template}}
  </span>
</p>

{{> layouts/footer.html }}
