# Erlang
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~

# Kraft
**/priv/styles/.yarn
**/priv/styles/.pnp.*
examples/blog/priv/web/static
examples/blog/rebar.lock

# macOS
.DS_Store
