{erl_opts, [debug_info]}.

{deps, [
    cowboy,
    cowlib,
    bbmustache,
    mapz,
    jsx
]}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl,app.src}",
        "examples/*/{src,include,test}/*.{hrl,erl,app.src}"
    ]}
]}.

{alias, [
    {analyze, [xref, dialyzer]}
]}.

{shell, [
    {app_reload_blacklist, [cowboy, ranch]},
    {config, "config/example.config"}
]}.

{profiles, [
    {example, [
        {project_app_dirs, ["apps/*", "lib/*", ".", "examples/*"]},
        {shell, [{apps, [kraft, index, blog, ws, chat, rest, todo]}]}
    ]}
]}.

{extra_src_dirs, [{"examples", [{recursive, true}]}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps},
    incremental
]}.
