{erl_opts, [debug_info]}.

{deps, [
    cowboy,
    bbmustache,
    jsone
]}.

{project_plugins, [erlfmt]}.

{post_hooks, [
    {compile, "make -C priv/styles"}
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl}",
        "examples/*/{src,include,test}/*.{hrl,erl}"
    ]}
]}.

{shell, [
    {app_reload_blacklist, [cowboy, ranch]}
]}.

{profiles, [
    {example, [
        {project_app_dirs, ["apps/*", "lib/*", ".", "examples/*"]},
        {shell, [{apps, [kraft, blog, ws, chat]}]}
    ]}
]}.
