<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>{{blog_title}}</title>
  <meta name="description" content="{{blog_subtitle}}">
  <meta name="author" content="{{blog_author}}">

  <link href="/assets/styles.css" rel="stylesheet">
  <style>
    :root {
      color-scheme: light dark;
    }
  </style>
</head>

<body class="container max-w-xl mx-auto bg-[ButtonFace] dark:bg-[Canvas] text-[ButtonText] py-8 prose prose-system dark:prose-invert">


<div class="rounded p-4 bg-[Canvas] dark:bg-[Field] shadow-2xl">

<h1>TODO</h1>
