[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {kraft_logger, #{}}
            }},
            {filters, log, [
                {kraft_filter, {fun kraft_logger:filter/2, #{}}}
            ]}
        ]}
    ]}
].
