<div class="overflow-x-auto">
  <div class="inline-grid grid-cols-[repeat(2,auto)] gap-x-2">
    {{#properties}}
    <div class="font-medium capitalize">{{name}}</div>
    <div class="text-zinc-600 dark:text-zinc-400 font-mono whitespace-pre-wrap break-words">{{value}}</div>
    {{/properties}}
  </div>
</div>

{{#stacktrace}}
<div id="stacktrace" class="overflow-x-auto">
  <h2 class="mt-6 font-semibold mb-2">Stacktrace</h2>

  <div id="stack" class="inline-grid gap-y-2 grid-cols-[repeat(3,auto)]">
    {{#stack}}
    {{#items}}
    {{#args}}
    <div class="col-span-3 font-mono">
      <span>{{module}}:</span><span class="text-zinc-600 dark:text-zinc-400 break-words">{{func}}</span><span
        class="whitespace-pre-wrap text-zinc-600 dark:text-zinc-400 break-words font-mono">{{args}}</span>
    </div>
    {{#file}}
    {{! Empty placeholder for mod:func, it is rendered in its own row above }}
    <div class="col-span-2"></div>
    {{/file}}
    {{/args}}
    {{^args}}
    {{#module}}<div class="text-right font-mono">{{.}}:</div>{{/module}}
    {{#func}}<div class="text-zinc-600 dark:text-zinc-400 whitespace-nowrap font-mono">{{.}}{{#arity}}/{{.}}{{/arity}}
    </div>{{/func}}
    {{/args}}
    {{#file}}
    <div class="group">
      <a class="flex ml-2 px-1 whitespace-nowrap rounded-md bg-zinc-100 dark:bg-zinc-800 w-full inline-block {{#path}}group-hover:bg-sky-100 dark:group-hover:bg-sky-950{{/path}}"
        {{#path}}href="file://{{.}}" {{/path}}>
        {{#otp}}
        <div
          class="float-right flex inline-block relative -left-1 bg-zinc-200 dark:bg-zinc-700 border-2 border-zinc-400 dark:border-zinc-500 rounded-md px-1 items-center">
          <span class="align-middle font-semibold text-sm">OTP</span>
        </div>
        {{/otp}}
        <span class="font-mono">{{#path}}
          {{/path}}{{#dir}}<span
            class="text-zinc-500 dark:text-zinc-400 {{#path}}group-hover:text-zinc-700 dark:group-hover:text-zinc-300{{/path}}">{{.}}/</span>{{/dir}}<span
            class="text-sky-600 {{#path}}group-hover:text-sky-700 dark:group-hover:text-sky-400{{/path}}">{{name}}</span>{{#line}}<span
            class="text-zinc-700 dark:text-zinc-300 group-hover:text-zinc-900 dark:group-hover:text-zinc-100">:{{line}}</span>{{/line}}{{#path}}{{/path}}
        </span>
      </a>
    </div>
    {{/file}}
    {{/items}}
    {{/stack}}
  </div>{{! stack }}

</div>{{! stacktrace }}
{{/stacktrace}}

</div>{{! error-box }}

</body>

</html>
