    <div class="sm:table mb-6">
      <div class="sm:table-row-group">
        {{#properties}}
        <div class="sm:table-row">
          <div class="sm:table-cell font-bold pr-2 capitalize">{{name}}</div>
          <div class="sm:table-cell font-mono break-words text-gray-500">{{value}}</div>
        </div>
        {{/properties}}
      </div>
    </div>

    {{#exception}}
    <h2>Stacktrace</h2>
    <div class="whitespace-pre font-mono rounded shadow-inner bg-gray-100 p-3
                text-gray-500 overflow-x-scroll">{{exception}}</div>

    </div>
    {{/exception}}
  </div>

</body>
</html>
