<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/kraft/assets/styles/kraft.css" rel="stylesheet">
</head>
<body class="prose prose-sm container max-w-screen-lg mx-auto p-3 sm:p-6 bg-gray-300">
