<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/kraft/assets/styles/kraft.css" rel="stylesheet">
</head>
<body class="container max-w-screen-lg mx-auto p-3 sm:p-6 bg-zinc-300 dark:bg-zinc-800 text-zinc-800 dark:text-zinc-100">

  <div class="p-6 bg-zinc-100 dark:bg-zinc-700 rounded-md shadow-xl dark:shadow-zinc-900 border-l-8 {{#warning}}border-orange-400 dark:border-yellow-700{{/warning}} {{#error}}border-red-400 dark:border-red-700{{/error}}">

    <h1 class="font-semibold mb-4">{{title}}</h1>
