{{> common/header.html }}

<div id="todolist" class="form-control flex flex-col gap-1">
{{#items}}
    {{> item.html }}
{{/items}}
</div>

<div class="card-actions">
    <form class="min-w-full" hx-post="/items" hx-target="#todolist" hx-swap="beforeend"
        hx-on::after-request="if(event.detail.successful) this.reset()">
        <label class="input flex items-center gap-2 min-w-full">

            <button class="btn btn-primary btn-xs btn-square">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                </svg>
            </button>

            <input type="text" class="grow" name="item" placeholder="New item" autocapitalize="sentences" required minlength="1" />
        </label>

    </form>
</div>

{{> common/footer.html }}
