{{> themes/default/header.html }}


<div class="p-6 text-gray-800 dark:text-gray-200">

<h2 class="mt-1 mb-2 text-lg leading-tight font-medium">{{title}}</h2>

<p>{{slug}}</p>

<p>{{content}}</p>

</div>

{{> themes/default/footer.html }}
